.home-main-container {
  height: 60vh;
}
.home-first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.home-top-heading {
  font-family: 'Roboto';
  color: #1e293b;
}
.home-image {
  height: 45vh;
  width: 80%;
}
.shop-now-button {
  background-color: #0967d2;
  height: 50px;
  width: 150px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.home-medium-image-container {
  display: none;
}

@media screen and (min-width: 767px) {
  .home-main-container {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .home-first-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-width: 45%;
    text-align: left;
  }
  .home-top-heading {
    font-family: 'Roboto';
    color: #1e293b;
    font-size: 50px;
  }
  .home-fashion-text {
    font-family: 'Roboto';
    color: #475569;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home-image {
    display: none;
  }
  .shop-now-button {
    background-color: #0967d2;
    height: 40px;
    width: 180px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
  }
  .home-medium-image-container {
    display: flex;
  }
  .home-medium-image {
    width: 400px;
    height: 400px;
  }
}
